<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add a user to your team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="userForm">
    <ion-item class="input-container">
      <ion-label position="stacked">First name</ion-label>
      <ion-input type="text" formControlName="firstname" placeholder="e.g. Bob"></ion-input>
    </ion-item>

    <ion-item class="input-container">
      <ion-label position="stacked">Last name</ion-label>
      <ion-input type="text" formControlName="lastname" placeholder="e.g. Smith"></ion-input>
    </ion-item>

    <ion-item class="input-container">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email" placeholder="e.g. bob@smith.com"></ion-input>
    </ion-item>

    <ion-button
      type="button"
      class="submit-button"
      expand="block"
      (click)="createTeamUser()"
      [disabled]="userForm.invalid">
      Add user
    </ion-button>
  </form>
</ion-content>
