<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid fixed>
    <form [formGroup]="forgotPasswordForm">
      <ion-card>
        <ion-card-content>
          Enter your email below so we can send you a reset password link.
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-button
        type="button"
        expand="block"
        class="submit-button"
        [disabled]="forgotPasswordForm.invalid"
        (click)="sendResetPasswordLink()">
        Send link
      </ion-button>
    </form>
  </ion-grid>
</ion-content>
